@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700|Montserrat:300,400,900');

$mobile: "(min-width: 320px) and (max-width: 667px)";
$mobile_iX: "(min-width : 375px) and (max-width : 812px) and (-webkit-device-pixel-ratio : 3)";
$tablets: "(min-width: 768px) and (max-width: 1366px)";

$black: #222;
$color1: #000DC6;
$color2: #E80052;
$width-left: 58%;
$width-right: 42%;
$font-mono: 'Roboto Mono', monospace;
$font-sans: 'Roboto', sans-serif;

body {
  font-size: 16px;
  text-size-adjust: none;
  text-rendering: optimizeLegibility; 
  font-synthesis: none
}
h1 {
  margin: 0;
  font-family: $font-sans;
  font-weight: 100;
  font-size: 2em;
}
h2 {
  margin: 0;
  font-family: $font-sans;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5em;
}
h3 {
  margin: 0;
  font-family: $font-mono;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
}

p,li {
  font-family: $font-sans;
  font-weight: 100;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 1.5em 0;
  letter-spacing: 0.15em;
}

.mobile {
  display: none;
}
.desktop {
  display: unset;
}

.App {
  margin: 0 auto;
  max-width: 1600px;
}
.content-wrapper {
  margin: 5em 5em;
  .App-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    .header-wrapper {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      width: $width-left;
      .contact {
        display: flex;
        flex-direction: row;
        li {
          padding-right: 25px;
          &:last-child {
            padding-right: 0;
          }
        }
        a {
          text-decoration: underline;
        }
      }
    }
  }

  .main {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 3em 0 2em 0;
      height: 30px;
      align-items: flex-end;
      width: $width-left;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      background: #fff;
      z-index: 100;
      .tldr-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        .tldr-toggle {
          padding-left: 1em;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .text {
      column-count: 3;
      column-gap: 3em;
      column-fill: auto;
      p {
        white-space: pre-line;
        text-align: justify;
        word-wrap: break-word;
        word-break: normal;
        hyphens: auto;
        line-height: 1.5em;
        opacity: 1;
        transition: color 0.5s ease-in;
        &::before {
          content: '> ';
          font-weight: 900;
        }
        &:first-child {
          margin-top: 0;
        }
        .footnote {
          transition: color 1s ease-in;
          font-weight: 900;
        }
        a {
          text-decoration: none;
        }
        span {
          transition: color 0.5s ease-in;
        }
      }
    }
    .ref {
      width: $width-right;
      .ref-wrapper {
        padding-left: 5em;
      }
      .header {
        width: 100%;
        z-index: unset;
      }
      .references {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .reference {
          padding-right: 1em;
          display: flex;
          width: 45%;
          margin-bottom: 1em;
          p {
            font-family: $font-mono;
            font-size: 12px;
            font-weight: 200;
            margin-top: 0;
            line-height: 1.5em;
          }
          .number {
            font-weight: 900;
            padding-right: 1em;
          }
          .title {
            font-weight: 400;
          }
        }
      }
    }
    .hidden {
      p, span {
        color: rgb(216, 216, 216) !important;
        .tldr {
          color: #000 !important;
        }
      }
    }
    .bio{
      display: flex;
      flex-direction: row;
      padding-bottom: 3em;
      .bio-text {
        width: $width-left;
        .text {
          height: 800px;
          .footnote {
            color: $color1;
          }
        }
      }
      .ref {
        .header {
          h3 {
            color: $color1;
          }
        }
        .reference {
          a,p {
            color: $color1;
            a, p {
              text-decoration: none;
            }
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .projects {
      display: flex;
      flex-direction: row;
      padding-bottom: 3em;
      .projects-text {
        width: $width-left;
        .text {
          height: 450px;
          .footnote {
            color: $color2;
          }
        }
      }
      .ref {
        .header {
          h3 {
            color: $color2;
          }
        }
        .reference {
          a, p {
            color: $color2;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .main {
  padding-top: calc(5em + 30px);
}
.dashed-line {
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 6px 1px;
  background-repeat: repeat-x;
}

@media #{$mobile}, #{$mobile_iX} {
  body {
    font-size: 11px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: unset;
  }
  .content-wrapper {
    margin: 2em;
    .App-header {
      .header-wrapper {
        flex-direction: column;
        h1 {
          margin-bottom: 1em;
        }
      }
    }
    .main {
      .header {
        width: unset;
      }
      .bio {
        flex-direction: column;
        .bio-text {
          width: unset;
        }
      }
      .projects {
        flex-direction: column;
        .projects-text {
          width: unset;
          .header {
            width: 50%;
          }
        }
      }
      .text {
        height: unset !important;
        column-count: unset;
      }
      .ref {
        width: unset;
        .ref-wrapper {
          padding: unset;
          .references {
            flex-direction: column;
            .reference {
              width: unset;
            }
          }
        }
      }
    }
  }
}

@media #{$tablets} {
  body {
    font-size: 14px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: unset;
  }
  .content-wrapper {
    .App-header {
      height: unset;
      .header-wrapper {
        padding: 1em 0;
        flex-direction: column;
        h1 {
          margin-bottom: 1em;
        }
      }
    }
    .main {
      .header {
        width: unset;
      }
      .bio {
        flex-direction: column;
        .bio-text {
          width: unset;
        }
      }
      .projects {
        flex-direction: column;
        .projects-text {
          width: unset;
          .header {
            width: 50%;
          }
        }
      }
      .text {
        height: unset !important;
      }
      .ref {
        width: unset;
        .ref-wrapper {
          padding: unset;
          .references {
            flex-direction: row;
            .reference {
              width: 30%;
            }
          }
        }
      }
    }
  }
}